@import "../styles.scss";
// $col = 'blue';

// div {
//   border: solid 1px yellow;
// }

.container {
  // border: solid 1px $blue-color;
  background-color: white;
  height: 100vh;
}

.second-row {
  height: 300px;
  > div {
    height: 100px;
  }
}

.left-col {
  @include make-col-ready();
  @include make-col(12);
}
.right-col {
  @include make-col-ready();
  @include make-col(12);
}
